spi/src/main/resources/org/jboss/hal/spi/MbuiView.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015-2016 Red Hat, Inc, and individual contributors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    <a:documentation>RELAX NG schema for MBUI XML</a:documentation>
    <start>
        <element name="view">
            <choice>
                <ref name="vertical-navigation-definition"/>
                <oneOrMore>
                    <ref name="metadata-definition"/>
                </oneOrMore>
            </choice>
        </element>
    </start>

    <define name="vertical-navigation-definition">
        <element name="vertical-navigation">
            <attribute name="id">
                <data type="NCName"/>
            </attribute>
            <oneOrMore>
                <ref name="item-definition"/>
            </oneOrMore>
        </element>
    </define>

    <define name="item-definition">
        <element name="item">
            <attribute name="id">
                <data type="NCName"/>
            </attribute>
            <attribute name="title">
                <ref name="token-or-code"/>
            </attribute>
            <attribute name="icon">
                <data type="token"/>
            </attribute>
            <choice>
                <ref name="metadata-definition"/>
                <oneOrMore>
                    <ref name="sub-item-definition"/>
                </oneOrMore>
            </choice>
        </element>
    </define>

    <define name="sub-item-definition">
        <element name="sub-item">
            <attribute name="id">
                <data type="NCName"/>
            </attribute>
            <attribute name="title">
                <ref name="token-or-code"/>
            </attribute>
            <ref name="metadata-definition"/>
        </element>
    </define>

    <define name="metadata-definition">
        <element name="metadata">
            <attribute name="address">
                <data type="token"/>
            </attribute>
            <interleave>
                <zeroOrMore>
                    <element name="h1">
                        <text/>
                    </element>
                </zeroOrMore>
                <zeroOrMore>
                    <element name="p">
                        <text/>
                    </element>
                </zeroOrMore>
                <optional>
                    <ref name="table-definition"/>
                </optional>
                <optional>
                    <element name="singleton-form">
                        <ref name="form-definition"/>
                    </element>
                </optional>
                <optional>
                    <element name="form">
                        <ref name="form-definition"/>
                    </element>
                </optional>
            </interleave>
        </element>
    </define>

    <define name="table-definition">
        <element name="table">
            <attribute name="id">
                <data type="NCName"/>
            </attribute>
            <optional>
                <attribute name="form-ref">
                    <data type="NCName"/>
                </attribute>
            </optional>
            <optional>
                <attribute name="title">
                    <ref name="token-or-code"/>
                </attribute>
            </optional>
            <optional>
                <element name="actions">
                    <oneOrMore>
                        <ref name="action-definition"/>
                    </oneOrMore>
                </element>
            </optional>
            <element name="columns">
                <oneOrMore>
                    <ref name="column-definition"/>
                </oneOrMore>
            </element>
        </element>
    </define>

    <define name="action-definition">
        <element name="action">
            <choice>
                <attribute name="handler-ref">
                    <choice>
                        <value>add-resource</value>
                        <value>remove-resource</value>
                    </choice>
                </attribute>
                <attribute name="handler">
                    <ref name="code"/>
                </attribute>
            </choice>
            <optional>
                <attribute name="name-resolver">
                    <ref name="code"/>
                </attribute>
            </optional>
            <optional>
                <attribute name="scope">
                    <value>selected</value>
                </attribute>
            </optional>
            <optional>
                <ref name="attributes-definition"/>
            </optional>
        </element>
    </define>

    <define name="column-definition">
        <element name="column">
            <attribute name="name"/>
            <optional>
                <attribute name="value">
                    <ref name="code"/>
                </attribute>
            </optional>
        </element>
    </define>

    <define name="form-definition">
        <attribute name="id">
            <data type="NCName"/>
        </attribute>
        <optional>
            <attribute name="title">
                <ref name="token-or-code"/>
            </attribute>
        </optional>
        <optional>
            <attribute name="name-resolver">
                <ref name="code"/>
            </attribute>
        </optional>
        <optional>
            <choice>
                <attribute name="auto-save">
                    <data type="boolean"/>
                </attribute>
                <attribute name="on-save"/>
            </choice>
        </optional>
        <optional>
            <choice>
                <attribute name="reset">
                    <data type="boolean"/>
                </attribute>
                <attribute name="on-reset"/>
            </choice>
        </optional>
        <optional>
            <attribute name="include-runtime">
                <data type="boolean"/>
            </attribute>
        </optional>
        <optional>
            <ref name="attributes-definition"/>
        </optional>
    </define>

    <define name="attributes-definition">
        <choice>
            <oneOrMore>
                <ref name="group-definition"/>
            </oneOrMore>
            <element name="attributes">
                <oneOrMore>
                    <ref name="attribute-definition"/>
                </oneOrMore>
            </element>
        </choice>
    </define>

    <define name="group-definition">
        <element name="group">
            <choice>
                <group>
                    <attribute name="name">
                        <data type="NCName"/>
                    </attribute>
                    <optional>
                        <attribute name="id">
                            <data type="NCName"/>
                        </attribute>
                        <attribute name="title">
                            <ref name="token-or-code"/>
                        </attribute>
                    </optional>
                </group>
                <group>
                    <attribute name="id">
                        <data type="NCName"/>
                    </attribute>
                    <attribute name="title">
                        <ref name="token-or-code"/>
                    </attribute>
                </group>
            </choice>
        </element>
        <zeroOrMore>
            <ref name="attribute-definition"/>
        </zeroOrMore>
        <optional>
            <ref name="exclude-definition"/>
        </optional>
    </define>

    <define name="group-ref-definition">
        <element name="group">
            <attribute name="id">
                <data type="NCName"/>
            </attribute>
        </element>
    </define>

    <define name="exclude-definition">
        <zeroOrMore>
            <ref name="attribute-definition"/>
        </zeroOrMore>
        <zeroOrMore>
            <ref name="group-ref-definition"/>
        </zeroOrMore>
    </define>

    <define name="attribute-definition">
        <element name="attribute">
            <attribute name="name">
                <data type="token"/>
            </attribute>
            <optional>
                <attribute name="provider">
                    <ref name="code"/>
                </attribute>
            </optional>
            <optional>
                <attribute name="form-item">
                    <ref name="code"/>
                </attribute>
            </optional>
            <optional>
                <element name="suggest-handler">
                    <element name="templates">
                        <oneOrMore>
                            <element name="template">
                                <attribute name="address">
                                    <data type="token"/>
                                </attribute>
                            </element>
                        </oneOrMore>
                    </element>
                </element>
            </optional>
        </element>
    </define>

    <define name="code">
        <data type="token">
            <param name="pattern">\{\{.*\}\}</param>
        </data>
    </define>

    <define name="token-or-code">
        <choice>
            <data type="token"/>
            <ref name="code"/>
        </choice>
    </define>
</grammar>
